/* * {
    border: .5px red solid;
    font-family: roboto;
} */

body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    gap: 40%;
    background-color: #1F2937;
    color: #F9FAF8;
}

a {
    color: #F9FAF8;
    text-decoration: none;
}

.left {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

.right {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.header2-container {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

.header2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    margin: 100px;
}

.hero {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    display: flex;
    flex-wrap: wrap;
}

.text-left {
    color: #F9FAF8;
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 50%;
}

.signup {
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 12px;
    background-color: #3882F6;
    width: 65px;
    height: 45px;
}

.text-right {
    color: #F9FAF8;
    padding: 75px 75px;
    background-color: gray;
}

#giant-image {
    width: 400px;
    height: auto;
}

.icon-boxes {
    background-color: white;
}
.title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 25px 0px;
}

.boxes-container {
    display: flex;
    gap: 45px;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    width: 150px;
    height: 150px;
    border: 5px #3882F6 solid;
    border-radius: 12px;
}

.box1, .box2, .box3, .box4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 160px;
    text-align: center;
    margin-bottom: 75px;
}

.icon-images {
    width: 150px;
    height: 150px;
}

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    flex-wrap: wrap;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: center;
    width: 780px;
}

#quote-text {
    margin: 0;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    width: 780px;
    flex-wrap: wrap;
}

.signup-container {
    background-color: white;
    display: flex;
    color: white;
    justify-content: center;
    margin: 75px 0px;
}

.signup-box {
    background-color: #3882F6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    width: 60%;
    border-radius: 12px;
    height: 125px;
}

.call {
    display: flex;
    flex-direction: column;
}

.call-head {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

#no-margin {
    margin: 0;
    padding: 0;
}

.signup2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px white solid;
    border-radius: 12px;
    height: 33%;
    padding: 0 25px;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    padding: 20px 0px;
}