* {
    border: .5px red solid;
    font-family: roboto;
}

body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
}

.right {
    display: flex;
    gap: 15px;
}

.header2 {
    display: flex;
    flex-direction: row;
}

.hero {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    background-color: #1F2937;
}

.icon-boxes {
    background-color: white;
}
.title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 25px 0px;
}

.boxes-container {
    display: flex;
    gap: 45px;
    justify-content: center;
}

.box {
    width: 150px;
    height: 150px;
    border: 5px #3882F6 solid;
    border-radius: 12px;
}

.box1, .box2, .box3, .box4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 160px;
    text-align: center;
}

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: center;
}

#quote-text {
    margin: 0;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}

